*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: darkblue;
    background-image: linear-gradient(
        115deg, rgba( 58, 58, 158, 0.8), rgba(136,136,206,0.7)
    ),
    url(https://img2.sbs.co.kr/img/sbs_cms/WE/2021/07/12/zeg1626049443713.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

form {
    background: rgba(27,27,50,0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
display: block;
width: 100%;
height: 2.375rem;
padding: 0.375rem 0.75rem;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
}